.blog {

	background: $light-grey;

	#site-navigation, #site-navigation.headroom--top {
		background: $orange;
	}

	#content {
		padding-top: 5em;
	}

	#main {
		padding: 2em;
		margin: 0 auto;
	}

	.post {
	
		max-width: 30em;
		background: $white;
		margin: 0 auto;
		border-top: 5px solid $orange;
		// box-shadow: 8px 8px 0px lighten( $grey, 15% );
		margin-bottom: 2em;

		.image-link {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
		}

		.entry-header {
			text-align: center;
			padding: 1em 1em 0;

			.entry-title {
				font-family: 'museo-slab', georgia, serif;
				margin-top: .25em;
				font-weight: 300;
				
				a {
					color: $orange;
					text-decoration: none;
				}
			}
		}

		.entry-content {
			margin: 0;
			padding: 0 1em;
		}

		.entry-footer {
			text-align: center;
			padding: 0 1em 1em;
		}

	}

} // end .blog


.single {
	background: $light-grey;

	#site-navigation, #site-navigation.headroom--top {
		background: $orange;
	}

	#content {
		padding-top: 5em;
	}

	#main {
		padding-top: 2em;
	}

	.post {
		max-width: 58em;
		margin: 0 auto;
		padding: 1em;
		background: $white;
		border-top: 8px solid $orange;
		// box-shadow: 8px 8px 0px lighten( $grey, 15% );

		.entry-header {
			text-align: center;

			.entry-title {
				font-family: 'museo-slab', georgia, serif;
				margin-top: .25em;
			}
		}

		.entry-footer {
			text-align: right;
		}
	}
}

// END OF FILE