#colophon {
	body:not(.home) & {
		background: $dark-grey;
	}
	position: relative;
	z-index: 10;
}

.site-info {

	font-family: 'Lato', arial, sans-serif;
	p {
		text-align: center;
		color: white;
		margin: 1em 0;
	}

	.fa.fa-heart {
		color: tomato;
	}

	.social {
		a {
			color: $white;
			font-size: 2em;
			display: inline-block;
			margin: 0 .5em;
			border: none;
			
			&:hover {
				color: $orange;
			}
		}
	}
}