#site-navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	//background: $orange;
	text-align: center;
	padding: 1em;
	transition: background 250ms linear;
	z-index: 100;

	@media screen and (min-width: 30em){
		text-align: right;
	}

	&.headroom--not-top, &.open {
		background: $orange;
	}

	&.headroom--top:not(.open) {
		background: transparent;
	}

	.wrap {
		@include container();
		margin-top: 0;
		margin-bottom: 0;
	}

	.site-branding {
		float: left;
		@media screen and ( min-width: 480px){
			float: left;
		}
		a {
			display: block;
			&:hover {
				border-bottom-color: transparent;
			}
		}
		svg {
			fill: $white;
			height: 2.5em;

			#words {
			//	display: none;
			}
		}
	}

	.main-menu-container {
		clear: right;
		overflow: hidden;
		@media screen and ( max-width: 45em ){
			clear: both;
			height: 0;
		}

		&.open {
			height: auto;
		}
	}

	#primary-menu {
		margin: 0;
		padding: 0;
		transition: transform 200ms linear;
		@media screen and ( min-width: 480px){
			float: right;
		}

		li {
			font-family: 'Lato';
			font-weight: 300;
			letter-spacing: 1px;
			display: inline-block;
			margin-top: .5em;
			margin-bottom: .5em;
			float: none;

			+ li {
				margin-left: 1em;
			}

			a {
				text-transform: uppercase;
				color: $white;
				text-decoration: none;
				border-bottom: 2px solid transparent;
				padding-bottom: .25em;
				transition: border 100ms linear;

				&:hover {
					border-bottom-color: $white;
				}
			}

			&.current-menu-item a {
				border-bottom-color: darken( $orange, 15% );
				&:hover {
					border-bottom-color: $white;
				}
			}
		}

		@media screen and ( max-width: 45em ){
			background: $orange;
			padding: 0 .25em;
			display: block;
			float: none;
			clear: left;
			//display: none;
			transform: translateY(-100%);

			&.open {
				display: block;
				transform: translateY(0);
			}
		}
	}

	.menu-toggle {
		display: none;
		margin: 0 auto;
		background: $orange;
		background: none;
		box-shadow: none;
		position: relative;
		top: .25em;
		padding: .5em;
		color: white;
		border: none;
		text-shadow: none;
		text-transform: uppercase;
		font-size: 1em;
		border-radius: 0;
		outline: none;

		@media screen and (min-width: 30em){
			float: right;
		}

		@media screen and ( max-width: 45em ){
			display: block;
		}

		.fa-bars {
			margin-right: 1em;
		}
	}
}