.background-image {
	position: fixed;
	min-height: 100%;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	// right: 0;
	// bottom: 0;
	z-index: -100;
}

#big-video-vid {

	&:after {
		content: '';
		background: rgba(0,0,0,.8);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

body.home #page {
	background: url(home-bg.jpg) no-repeat fixed;
	background-size: cover;
	
	.site-branding {
		position: relative;
		// display: none;
	}

	#site-navigation {
		background: none !important;

		@media screen and (max-width: 480px){
			position: initial;
		}
	}

	#content {
		position: relative;
		min-height: 50vh;
		
		@media screen and (min-width: 600px){
			min-height: 80vh;	
		}
	}

	.home-wrap {
		max-width: 40em;
		width: 100%;
		padding: 0 1em;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;

		@media screen and (max-width: 480px){
			left: auto;
			transform: translateY(-50%);

			.cta-links {
				margin-top: 2em !important;
			}
		}

		@media screen and (max-height: 500px) and (max-width: 340px){
			transform: none;
			position: static;
		}

		h1 {
			margin: 0;
		}

		svg {
			// display: block;
			display: none;
			width: 100%;
			height: auto;
			fill: $white;
		}

		.cta-links {
			margin-top: 5em;
			text-align: center;
			
			a {
				display: inline-block;
				margin: .5em .5em;
				font-size: 2em;
				font-family: 'museo-slab', georgia, serif;
				color: $white;
				text-decoration: none;
				border-bottom: 1px solid $white;
				transition: color 200ms linear;
			    text-transform: capitalize;


				&:hover {
					color: rgba($white, .8);
				}

				&:after {
					content: " +";
				}
			}
		}
	}

	.site-info {
		font-size: .8em;
	}
}
.vjs-control-bar, .vjs-error-display, .vjs-caption-settings {
	display: none;
}



