.portfolio, .service {
	padding: 0.5em;

	p.h2 {
		margin: 0;
	}
	.filter-buttons {
		text-align: center;
		margin: 1.5em 0;

		button {
			margin: 0.25em 1em;
			display: inline-block;
			background: $orange;
			background: $white;
			box-shadow: none;
			border: 2px solid $orange;
			border-color: $white;
			text-shadow: none;
			border-radius: 0;
			color: #FFF;
			color: $orange;
			text-transform: uppercase;
			font-size: 1em;
			transition: all 200ms linear;
			font-family: 'museo-slab', georia, serif;

			&:after {
				content: ' +';
				position: relative;
				top: -2px;
			}

			&:hover {
				color: $orange;
				// background: #FFF;
				border-color: $orange;
			}
		}
	}

	.grid.gallery {
		font-size: 1em;
		opacity: 0;

		.gallery-item {
			position: relative;
			overflow: hidden;
			width: 32%;
			border: none;

			@media screen and ( max-width: 50em ){
				max-width: 23%;
			}

			@media screen and ( max-width: 30em ){
				max-width: 48%;
			}
			

			margin-bottom: 2%;
			// border: 2px solid $orange;

			img {
				width: 100%;
				display: block;
				transition: all 200ms linear;
				filter: grayscale(100%);

			}

			&:before {
				content: 'View+';
				font-family: 'museo-slab', georgia, serif;
				font-weight: bold;
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(2);
				color: transparent;
				background: transparent;
				z-index: 100;
				opacity: 1;
				text-transform: uppercase;
				font-size: 1.5em;
				transition: all 200ms linear;

				@media screen and (min-width: 70em){
					font-size: 2em;
				}
				@media screen and (min-width: 110em){
					font-size: 4em
				}
			}

			&:after {
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: transparent;
				z-index: 10;
				opacity: .9;
				transition: all 200ms linear;
			}

			&:hover {
				border: none;

				img {
					// transform: scale(1.5) rotate(15deg);
					filter: grayscale(0%);
				}

				// &:before {
				// 	color: white;
				// 	transform: translate(-50%, -50%) scale(1);
				// 	text-shadow: 0 2px darken( $orange, 25% );
				// }

				// &:after {
				// 	background: $orange;
				// }
			}

		} // .gallery-item

	} // .gallery

	.case-study {
		> img {
			width: 100%;
			height: auto;
			//outline: none;
			display: block;

			&:hover {
				cursor: pointer;
			}
		}

		.content {
			display: flex;
			background: $light-grey;
			align-items: flex-start;

			.wrapper {
				flex: 1;
				padding: .5em;
			}
				
			p {
			
				a {
					display: inline-block;
					margin-top: 1.5em;
				}
			}

			a {
				flex: 3;
				display: block;
				border: none;

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}

} // .portfolio