.services-container {
	background: $light-grey;
	padding: 4em .5em;
}

.services-title {
	text-align: center;
	//color: $orange;
	font-family: 'museo-slab';
	font-size: 3em;
}

.services-list {
	@include container();
	
	.service {

		img {
			display: block;
			margin: 0 auto 1.5em;
			min-height: 8em;
		}

		@media screen and ( min-width: 30em){

			margin-top: 1.5em;
			
			@include span(6 inside);

			&:nth-child(2n + 1){
				clear: left;
			}

		}

		@media screen and ( min-width: 50em){

			@include span(4 inside);

			&:nth-child(2n + 1){
				clear: none;
			}

			&:nth-child(4n){
				clear: left;
			}
		}
		
		.name {
			font-family: 'museo-slab';
			margin: 0;
			font-size: 2em;
		}

		.title {
			//color: $orange;
			font-family: 'museo-slab';
			margin: 0;

			&:after {
				content: " +";
				position: relative;
				top: -1px;
			}
		}
	}
}

.service {

	.gallery a {
		border-bottom: none;
	}
}

#services .gallery {

	.gallery-item {
		margin-bottom: 0;
	}
}