.meet-502 {
	
	.gallery-item {

		@media screen and ( min-width: 70em ) {
			// only do grayscale filter on desktop
			filter: grayscale( 100% );
			transition: filter 200ms linear;
			transition: -webkit-filter 200ms linear;

			&:hover {
				filter: grayscale( 0 );
			}

		}
		
	}

}
.office-description {
	background: $light-grey;
	background-position: top left;
	background-position-x: 5%;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 2em 0;

	.wrap {
		@include container();
	}

	p {
		max-width: 50em;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		//color: inherit;
		margin: .5em 0 0;
	}
}

#team-members {
	@include container();

	h2 {
		text-align: center;
		color: $orange;
		font-family: 'museo-slab';
		font-size: 3em;
	}
	
	.team-member {

		padding: 0 .5em;

		@media screen and ( min-width: 30em){
			
			@include span(6 inside);

			&:nth-child(2n + 2){
				clear: left;
			}

		}

		@media screen and ( min-width: 50em){

			@include span(4 inside);

			&:nth-child(2n + 2){
				clear: none;
			}

			&:nth-of-type(3n + 1){
				clear: left;
			}
		}

		img {
			display: block; margin: 0 auto;
		}
		
		.name {
			font-family: 'museo-slab';
			margin: 0;
			font-size: 2em;
		}

		.title {
			color: $orange;
			font-family: 'museo-slab';
			margin: 0;
		}
	}
}