input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background: $light-grey;
	color: $color__text-input;
	// border: 1px solid $color__border-input;
	// border-radius: 3px;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;

	&:focus, &:active {
		outline: 1px solid $orange;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}


.gform_wrapper {

	select {
		border-radius: 0;
		background: none;
		-webkit-appearance: none;
		appearance: none;
		background: $light-grey;
		font-family: 'museo-slab';
		font-weight: 300;
		border: none;
		padding: .32em 1.5em .32em .5em ;
		position: relative;
		background: url('images/plus-sign.png') no-repeat $light-grey;
		background-size: 1em;
		background-position: right .5em center;

		&:focus, &:active {
			outline: 1px solid $orange;
		}
	}

	select::-ms-expand {
	    display: none;
	}

	.contact {

		.choices {
			margin-bottom: 6em;
		}

		#field_4_8, #field_4_9, #field_4_1 {
			display: inline-block;
			font-size: 1.75em;
			font-family: 'museo-slab';

			select {
				font-size: .75em;

				option {
					font-size: .5em;
				}
			}
		}

		#field_4_1 {
			padding: 0 1em;

			.gfield_label {
				display: none;
			}
			.ginput_container {
				display: inline-block;
			}

			.gfield_select {
				width: auto;
			}
		}

		#field_4_6 {
			.gfield_label span {
				visibility: hidden;
			}
		}

		@media screen and (max-width: 850px){
			#field_4_8, #field_4_9, #field_4_1 {
				font-size: 1.25em;
			}

			li.gfield {
				display: block !important;
				float: none;
				width: 100% !important;
			}
		}
	}

}

