/*!
Theme Name: 502 Media Group
Theme URI: http://underscores.me/
Author: Daron Spence
Author URI: http://502mediagroup.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: fmg
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

502 Media Group is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }
  .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6 {
    visibility: hidden; }

.h2 {
  color: #EA6A43;
  font-family: 'museo-slab';
  font-size: 3em;
  font-weight: 300; }

.centered {
  text-align: center; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

html {
  height: 100%; }

body {
  font-family: "Lato", "Helvetica Neue", Arial, serif;
  font-weight: 300;
  height: 100%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button, .button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-color: transparent;
  border-radius: 0;
  background: #e6e6e6;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  color: #EA6A43;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover, .button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    border-color: #EA6A43; }
  button:active, button:focus, .button:active, .button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    border-color: #EA6A43; }

input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background: #EDEDED;
  color: #666;
  border: none;
  box-shadow: none;
  -webkit-appearance: none; }
  input:focus, input:active,
  input[type="text"]:focus,
  input[type="text"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="search"]:focus,
  input[type="search"]:active,
  textarea:focus,
  textarea:active {
    outline: 1px solid #EA6A43; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

.gform_wrapper select {
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  background: #EDEDED;
  font-family: 'museo-slab';
  font-weight: 300;
  border: none;
  padding: 0.32em 1.5em 0.32em 0.5em;
  position: relative;
  background: url("images/plus-sign.png") no-repeat #EDEDED;
  background-size: 1em;
  background-position: right .5em center; }
  .gform_wrapper select:focus, .gform_wrapper select:active {
    outline: 1px solid #EA6A43; }
.gform_wrapper select::-ms-expand {
  display: none; }
.gform_wrapper .contact .choices {
  margin-bottom: 6em; }
.gform_wrapper .contact #field_4_8, .gform_wrapper .contact #field_4_9, .gform_wrapper .contact #field_4_1 {
  display: inline-block;
  font-size: 1.75em;
  font-family: 'museo-slab'; }
  .gform_wrapper .contact #field_4_8 select, .gform_wrapper .contact #field_4_9 select, .gform_wrapper .contact #field_4_1 select {
    font-size: .75em; }
    .gform_wrapper .contact #field_4_8 select option, .gform_wrapper .contact #field_4_9 select option, .gform_wrapper .contact #field_4_1 select option {
      font-size: .5em; }
.gform_wrapper .contact #field_4_1 {
  padding: 0 1em; }
  .gform_wrapper .contact #field_4_1 .gfield_label {
    display: none; }
  .gform_wrapper .contact #field_4_1 .ginput_container {
    display: inline-block; }
  .gform_wrapper .contact #field_4_1 .gfield_select {
    width: auto; }
.gform_wrapper .contact #field_4_6 .gfield_label span {
  visibility: hidden; }
@media screen and (max-width: 850px) {
  .gform_wrapper .contact #field_4_8, .gform_wrapper .contact #field_4_9, .gform_wrapper .contact #field_4_1 {
    font-size: 1.25em; }
  .gform_wrapper .contact li.gfield {
    display: block !important;
    float: none;
    width: 100% !important; } }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #EA6A43;
  text-decoration: none;
  -webkit-transition: all 100ms linear;
          transition: all 100ms linear;
  border-bottom: 1px solid transparent; }
  a:visited {
    color: #EA6A43; }
  a:hover, a:focus, a:active {
    color: #e7582c;
    border-bottom: 1px solid currentColor; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em;
  -webkit-transition: background 250ms linear;
          transition: background 250ms linear;
  z-index: 100; }
  @media screen and (min-width: 30em) {
    #site-navigation {
      text-align: right; } }
  #site-navigation.headroom--not-top, #site-navigation.open {
    background: #EA6A43; }
  #site-navigation.headroom--top:not(.open) {
    background: transparent; }
  #site-navigation .wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0; }
    #site-navigation .wrap:after {
      content: " ";
      display: block;
      clear: both; }
  #site-navigation .site-branding {
    float: left; }
    @media screen and (min-width: 480px) {
      #site-navigation .site-branding {
        float: left; } }
    #site-navigation .site-branding a {
      display: block; }
      #site-navigation .site-branding a:hover {
        border-bottom-color: transparent; }
    #site-navigation .site-branding svg {
      fill: #FFF;
      height: 2.5em; }
  #site-navigation .main-menu-container {
    clear: right;
    overflow: hidden; }
    @media screen and (max-width: 45em) {
      #site-navigation .main-menu-container {
        clear: both;
        height: 0; } }
    #site-navigation .main-menu-container.open {
      height: auto; }
  #site-navigation #primary-menu {
    margin: 0;
    padding: 0;
    -webkit-transition: -webkit-transform 200ms linear;
            transition: transform 200ms linear; }
    @media screen and (min-width: 480px) {
      #site-navigation #primary-menu {
        float: right; } }
    #site-navigation #primary-menu li {
      font-family: 'Lato';
      font-weight: 300;
      letter-spacing: 1px;
      display: inline-block;
      margin-top: .5em;
      margin-bottom: .5em;
      float: none; }
      #site-navigation #primary-menu li + li {
        margin-left: 1em; }
      #site-navigation #primary-menu li a {
        text-transform: uppercase;
        color: #FFF;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding-bottom: .25em;
        -webkit-transition: border 100ms linear;
                transition: border 100ms linear; }
        #site-navigation #primary-menu li a:hover {
          border-bottom-color: #FFF; }
      #site-navigation #primary-menu li.current-menu-item a {
        border-bottom-color: #ca4017; }
        #site-navigation #primary-menu li.current-menu-item a:hover {
          border-bottom-color: #FFF; }
    @media screen and (max-width: 45em) {
      #site-navigation #primary-menu {
        background: #EA6A43;
        padding: 0 .25em;
        display: block;
        float: none;
        clear: left;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%); }
        #site-navigation #primary-menu.open {
          display: block;
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); } }
  #site-navigation .menu-toggle {
    display: none;
    margin: 0 auto;
    background: #EA6A43;
    background: none;
    box-shadow: none;
    position: relative;
    top: .25em;
    padding: .5em;
    color: white;
    border: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0;
    outline: none; }
    @media screen and (min-width: 30em) {
      #site-navigation .menu-toggle {
        float: right; } }
    @media screen and (max-width: 45em) {
      #site-navigation .menu-toggle {
        display: block; } }
    #site-navigation .menu-toggle .fa-bars {
      margin-right: 1em; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.nav-links {
  text-align: center;
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav-links .nav-previous, .nav-links .nav-next {
    display: inline-block;
    margin: 0 1em;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    text-transform: uppercase; }
    .nav-links .nav-previous a, .nav-links .nav-next a {
      padding-bottom: .25em; }
  .nav-links .nav-next:before {
    content: '\f104';
    font-family: "FontAwesome";
    margin-right: .5em;
    color: #EA6A43; }
  .nav-links .nav-previous {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .nav-links .nav-previous:after {
      content: '\f105';
      font-family: "FontAwesome";
      margin-left: .5em;
      color: #EA6A43; }

.edit-link {
  display: none; }

.cat-links a {
  text-transform: uppercase; }

.comments-link {
  margin-top: 1.5em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .comments-link a:after {
    content: '\f27a';
    font-family: "FontAwesome";
    margin-left: .5em;
    color: #EA6A43; }

.the-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em; }
  .the-content:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 600px) {
    .the-content {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (min-width: 1232px) {
    .the-content {
      padding-left: 0;
      padding-right: 0; } }

.intro {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .intro:after {
    content: " ";
    display: block;
    clear: both; }
  .intro h2 {
    margin: 0; }
  .intro p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    max-width: 50em;
    margin: 0 auto 1.5em; }

.page .entry-header {
  padding: 6em 0;
  min-height: 70vh;
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .page .entry-header:after {
    content: '';
    background: rgba(234, 106, 67, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .page .entry-header h1 {
    position: relative;
    z-index: 10;
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 1px solid #FFF;
    font-family: 'Lato', arial, sans-serif;
    font-size: 4em;
    display: inline-block;
    letter-spacing: 10px;
    font-weight: 300; }
    @media screen and (min-width: 50em) {
      .page .entry-header h1 {
        font-weight: 300; } }
@media screen and (min-width: 75em) {
  .page .entry-content {
    padding: 0; } }
.page .entry-footer {
  background: #EA6A43;
  text-align: center;
  color: #FFF;
  font-size: 1.5em;
  font-family: 'museo-slab';
  border-bottom: 0.5em solid #e7582c;
  margin-top: 1.5em; }
  .page .entry-footer p {
    margin: 3em 0;
    letter-spacing: 1px; }
  .page .entry-footer a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px solid #FFF; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

#commentform #submit {
  background: #EA6A43;
  box-shadow: none;
  text-shadow: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: .75em;
  padding: 1em;
  letter-spacing: 1px;
  border-radius: 0;
  border: 2px solid #EA6A43;
  -webkit-transition: all 100ms linear;
          transition: all 100ms linear; }
  #commentform #submit:hover {
    color: #EA6A43;
    background: #FFF; }
#commentform #comment {
  display: block; }

#page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh; }
  #page #masthead {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  #page #content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  #page #colophon {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }

.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.wf-loading p, .wf-loading a, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading .entry-content {
  visibility: hidden; }

.background-image {
  position: fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -100; }

#big-video-vid:after {
  content: '';
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

body.home #page {
  background: url(home-bg.jpg) no-repeat fixed;
  background-size: cover; }
  body.home #page .site-branding {
    position: relative; }
  body.home #page #site-navigation {
    background: none !important; }
    @media screen and (max-width: 480px) {
      body.home #page #site-navigation {
        position: initial; } }
  body.home #page #content {
    position: relative;
    min-height: 50vh; }
    @media screen and (min-width: 600px) {
      body.home #page #content {
        min-height: 80vh; } }
  body.home #page .home-wrap {
    max-width: 40em;
    width: 100%;
    padding: 0 1em;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%; }
    @media screen and (max-width: 480px) {
      body.home #page .home-wrap {
        left: auto;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        body.home #page .home-wrap .cta-links {
          margin-top: 2em !important; } }
    @media screen and (max-height: 500px) and (max-width: 340px) {
      body.home #page .home-wrap {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        position: static; } }
    body.home #page .home-wrap h1 {
      margin: 0; }
    body.home #page .home-wrap svg {
      display: none;
      width: 100%;
      height: auto;
      fill: #FFF; }
    body.home #page .home-wrap .cta-links {
      margin-top: 5em;
      text-align: center; }
      body.home #page .home-wrap .cta-links a {
        display: inline-block;
        margin: .5em .5em;
        font-size: 2em;
        font-family: 'museo-slab', georgia, serif;
        color: #FFF;
        text-decoration: none;
        border-bottom: 1px solid #FFF;
        -webkit-transition: color 200ms linear;
                transition: color 200ms linear;
        text-transform: capitalize; }
        body.home #page .home-wrap .cta-links a:hover {
          color: rgba(255, 255, 255, 0.8); }
        body.home #page .home-wrap .cta-links a:after {
          content: " +"; }
  body.home #page .site-info {
    font-size: .8em; }

.vjs-control-bar, .vjs-error-display, .vjs-caption-settings {
  display: none; }

@media screen and (min-width: 70em) {
  .meet-502 .gallery-item {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-filter 200ms linear, filter 200ms linear;
            transition: filter 200ms linear;
    -webkit-transition: -webkit-filter 200ms linear;
            transition: -webkit-filter 200ms linear; }
    .meet-502 .gallery-item:hover {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); } }

.office-description {
  background: #EDEDED;
  background-position: top left;
  background-position-x: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2em 0; }
  .office-description .wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .office-description .wrap:after {
      content: " ";
      display: block;
      clear: both; }
  .office-description p {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto; }
  .office-description h2 {
    margin: .5em 0 0; }

#team-members {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #team-members:after {
    content: " ";
    display: block;
    clear: both; }
  #team-members h2 {
    text-align: center;
    color: #EA6A43;
    font-family: 'museo-slab';
    font-size: 3em; }
  #team-members .team-member {
    padding: 0 .5em; }
    @media screen and (min-width: 30em) {
      #team-members .team-member {
        width: 50%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; }
        #team-members .team-member:nth-child(2n + 2) {
          clear: left; } }
    @media screen and (min-width: 50em) {
      #team-members .team-member {
        width: 33.3333333333%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; }
        #team-members .team-member:nth-child(2n + 2) {
          clear: none; }
        #team-members .team-member:nth-of-type(3n + 1) {
          clear: left; } }
    #team-members .team-member img {
      display: block;
      margin: 0 auto; }
    #team-members .team-member .name {
      font-family: 'museo-slab';
      margin: 0;
      font-size: 2em; }
    #team-members .team-member .title {
      color: #EA6A43;
      font-family: 'museo-slab';
      margin: 0; }

.blog {
  background: #EDEDED; }
  .blog #site-navigation, .blog #site-navigation.headroom--top {
    background: #EA6A43; }
  .blog #content {
    padding-top: 5em; }
  .blog #main {
    padding: 2em;
    margin: 0 auto; }
  .blog .post {
    max-width: 30em;
    background: #FFF;
    margin: 0 auto;
    border-top: 5px solid #EA6A43;
    margin-bottom: 2em; }
    .blog .post .image-link {
      display: block;
      margin: 0;
      padding: 0;
      border: none; }
    .blog .post .entry-header {
      text-align: center;
      padding: 1em 1em 0; }
      .blog .post .entry-header .entry-title {
        font-family: 'museo-slab', georgia, serif;
        margin-top: .25em;
        font-weight: 300; }
        .blog .post .entry-header .entry-title a {
          color: #EA6A43;
          text-decoration: none; }
    .blog .post .entry-content {
      margin: 0;
      padding: 0 1em; }
    .blog .post .entry-footer {
      text-align: center;
      padding: 0 1em 1em; }

.single {
  background: #EDEDED; }
  .single #site-navigation, .single #site-navigation.headroom--top {
    background: #EA6A43; }
  .single #content {
    padding-top: 5em; }
  .single #main {
    padding-top: 2em; }
  .single .post {
    max-width: 58em;
    margin: 0 auto;
    padding: 1em;
    background: #FFF;
    border-top: 8px solid #EA6A43; }
    .single .post .entry-header {
      text-align: center; }
      .single .post .entry-header .entry-title {
        font-family: 'museo-slab', georgia, serif;
        margin-top: .25em; }
    .single .post .entry-footer {
      text-align: right; }

.portfolio, .service {
  padding: 0.5em; }
  .portfolio p.h2, .service p.h2 {
    margin: 0; }
  .portfolio .filter-buttons, .service .filter-buttons {
    text-align: center;
    margin: 1.5em 0; }
    .portfolio .filter-buttons button, .service .filter-buttons button {
      margin: 0.25em 1em;
      display: inline-block;
      background: #EA6A43;
      background: #FFF;
      box-shadow: none;
      border: 2px solid #EA6A43;
      border-color: #FFF;
      text-shadow: none;
      border-radius: 0;
      color: #FFF;
      color: #EA6A43;
      text-transform: uppercase;
      font-size: 1em;
      -webkit-transition: all 200ms linear;
              transition: all 200ms linear;
      font-family: 'museo-slab', georia, serif; }
      .portfolio .filter-buttons button:after, .service .filter-buttons button:after {
        content: ' +';
        position: relative;
        top: -2px; }
      .portfolio .filter-buttons button:hover, .service .filter-buttons button:hover {
        color: #EA6A43;
        border-color: #EA6A43; }
  .portfolio .grid.gallery, .service .grid.gallery {
    font-size: 1em;
    opacity: 0; }
    .portfolio .grid.gallery .gallery-item, .service .grid.gallery .gallery-item {
      position: relative;
      overflow: hidden;
      width: 32%;
      border: none;
      margin-bottom: 2%; }
      @media screen and (max-width: 50em) {
        .portfolio .grid.gallery .gallery-item, .service .grid.gallery .gallery-item {
          max-width: 23%; } }
      @media screen and (max-width: 30em) {
        .portfolio .grid.gallery .gallery-item, .service .grid.gallery .gallery-item {
          max-width: 48%; } }
      .portfolio .grid.gallery .gallery-item img, .service .grid.gallery .gallery-item img {
        width: 100%;
        display: block;
        -webkit-transition: all 200ms linear;
                transition: all 200ms linear;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }
      .portfolio .grid.gallery .gallery-item:before, .service .grid.gallery .gallery-item:before {
        content: 'View+';
        font-family: 'museo-slab', georgia, serif;
        font-weight: bold;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(2);
            -ms-transform: translate(-50%, -50%) scale(2);
                transform: translate(-50%, -50%) scale(2);
        color: transparent;
        background: transparent;
        z-index: 100;
        opacity: 1;
        text-transform: uppercase;
        font-size: 1.5em;
        -webkit-transition: all 200ms linear;
                transition: all 200ms linear; }
        @media screen and (min-width: 70em) {
          .portfolio .grid.gallery .gallery-item:before, .service .grid.gallery .gallery-item:before {
            font-size: 2em; } }
        @media screen and (min-width: 110em) {
          .portfolio .grid.gallery .gallery-item:before, .service .grid.gallery .gallery-item:before {
            font-size: 4em; } }
      .portfolio .grid.gallery .gallery-item:after, .service .grid.gallery .gallery-item:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: 10;
        opacity: .9;
        -webkit-transition: all 200ms linear;
                transition: all 200ms linear; }
      .portfolio .grid.gallery .gallery-item:hover, .service .grid.gallery .gallery-item:hover {
        border: none; }
        .portfolio .grid.gallery .gallery-item:hover img, .service .grid.gallery .gallery-item:hover img {
          -webkit-filter: grayscale(0%);
                  filter: grayscale(0%); }
  .portfolio .case-study > img, .service .case-study > img {
    width: 100%;
    height: auto;
    display: block; }
    .portfolio .case-study > img:hover, .service .case-study > img:hover {
      cursor: pointer; }
  .portfolio .case-study .content, .service .case-study .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #EDEDED;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .portfolio .case-study .content .wrapper, .service .case-study .content .wrapper {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      padding: .5em; }
    .portfolio .case-study .content p a, .service .case-study .content p a {
      display: inline-block;
      margin-top: 1.5em; }
    .portfolio .case-study .content a, .service .case-study .content a {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3;
      display: block;
      border: none; }
      .portfolio .case-study .content a img, .service .case-study .content a img {
        width: 100%;
        height: auto;
        display: block; }

.services-container {
  background: #EDEDED;
  padding: 4em .5em; }

.services-title {
  text-align: center;
  font-family: 'museo-slab';
  font-size: 3em; }

.services-list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .services-list:after {
    content: " ";
    display: block;
    clear: both; }
  .services-list .service img {
    display: block;
    margin: 0 auto 1.5em;
    min-height: 8em; }
  @media screen and (min-width: 30em) {
    .services-list .service {
      margin-top: 1.5em;
      width: 50%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .services-list .service:nth-child(2n + 1) {
        clear: left; } }
  @media screen and (min-width: 50em) {
    .services-list .service {
      width: 33.3333333333%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .services-list .service:nth-child(2n + 1) {
        clear: none; }
      .services-list .service:nth-child(4n) {
        clear: left; } }
  .services-list .service .name {
    font-family: 'museo-slab';
    margin: 0;
    font-size: 2em; }
  .services-list .service .title {
    font-family: 'museo-slab';
    margin: 0; }
    .services-list .service .title:after {
      content: " +";
      position: relative;
      top: -1px; }

.service .gallery a {
  border-bottom: none; }

#services .gallery .gallery-item {
  margin-bottom: 0; }

#colophon {
  position: relative;
  z-index: 10; }
  body:not(.home) #colophon {
    background: #626363; }

.site-info {
  font-family: 'Lato', arial, sans-serif; }
  .site-info p {
    text-align: center;
    color: white;
    margin: 1em 0; }
  .site-info .fa.fa-heart {
    color: tomato; }
  .site-info .social a {
    color: #FFF;
    font-size: 2em;
    display: inline-block;
    margin: 0 .5em;
    border: none; }
    .site-info .social a:hover {
      color: #EA6A43; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  font-size: 0; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  font-size: 1em; }
  @media screen and (min-width: 40em) {
    .gallery-columns-2 .gallery-item {
      max-width: 49.5%;
      margin-bottom: 1%; }
      .gallery-columns-2 .gallery-item:nth-child(2n + 1) {
        margin-right: 0.5%; }
      .gallery-columns-2 .gallery-item:nth-child(2n + 2) {
        margin-left: 0.5%; } }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    margin: 0; }
    @media screen and (min-width: 45em) {
      .gallery-columns-4 .gallery-item {
        max-width: 24%;
        margin-right: calc(4%/3); }
        .gallery-columns-4 .gallery-item:nth-child(4n + 4) {
          margin-right: 0; } }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

.gutter-sizer {
  width: 2%; }
