.gallery {
	font-size: 0;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	font-size: 1em;

	.gallery-columns-2 & {
		@media screen and (min-width: 40em){
			max-width: 49.5%;
			margin-bottom: 1%;

			&:nth-child(2n + 1) {
				margin-right: 0.5%;
			}

			&:nth-child(2n + 2) {
				margin-left: 0.5%;
			}

		}
		
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		margin: 0;
		@media screen and (min-width: 45em){
			max-width: 24%;
			margin-right: calc(4%/3);
			&:nth-child(4n + 4) {
				margin-right: 0;
			}
		}

	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

.gutter-sizer {
	width: 2%;
}

