// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;

	#masthead {
		flex: none;
		flex-shrink: 0;
	}

	#content {
		flex: 1 0 auto;
	}

	#colophon {
		flex: none;
		flex-shrink: 0;
	}
}

.wrap { 
	@include container();
}

.wf-loading {
	p, a, h1, h2, h3, h4, h5, h6, .entry-content {
		visibility: hidden;
	}
}