h1, h2, h3, h4, h5, h6 {
	clear: both;

	.wf-loading & {
		visibility: hidden;
	}
}

.h2 {
	color: $orange;
	font-family: 'museo-slab';
	font-size: 3em;
	font-weight: 300;
}

.centered {
	text-align: center;
}