a {
	color: $orange;
	text-decoration: none;
	transition: all 100ms linear;
	border-bottom: 1px solid transparent;

	&:visited {
		color: $orange;
	}
	&:hover,
	&:focus,
	&:active {
		color: darken( $orange, 5% );
		border-bottom: 1px solid currentColor;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}