.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#commentform {

	#submit {
		background: $orange;
		box-shadow: none;
		text-shadow: none;
		color: $white;
		text-transform: uppercase;
		font-size: .75em;
		padding: 1em;
		letter-spacing: 1px;
		border-radius: 0;
		border: 2px solid $orange;
		transition: all 100ms linear;

		&:hover {
			color: $orange;
			background: $white;
		}
	}

	#comment {
		display: block;
	}
}