.sticky {
	display: block;
}

.hentry {
	//margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.nav-links {
	text-align: center;
	padding: 1em;
	display: flex;
	justify-content: center;

	.nav-previous, .nav-next {
		display: inline-block;
		margin: 0 1em;
		order: 0;
		text-transform: uppercase;

		a {
			padding-bottom: .25em;
		}
	}

	.nav-next {
		// NEWER POSTS
		
		&:before {
			content: '\f104';
			font-family: "FontAwesome";
			margin-right: .5em;
			color: $orange;
		}
	}

	.nav-previous {
		// OLDER POSTS
		order: 1;
		&:after {
			content: '\f105';
			font-family: "FontAwesome";
			margin-left: .5em;
			color: $orange;
		}
	}
}

.edit-link {
	display: none;
}

.cat-links a {
	text-transform: uppercase;
}

.comments-link {
	margin-top: 1.5em;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;

	a:after {
		content: '\f27a';
		font-family: "FontAwesome";
		margin-left: .5em;
		color: $orange;
	}
}

.the-content {
	@include container();
	padding-left: 1em;
	padding-right: 1em;

	@media screen and (min-width: 600px){
		padding-left: 2em;
		padding-right: 2em;
	}

	@media screen and (min-width: 1232px){
		padding-left: 0;
		padding-right: 0;
	}
}

.intro {
	@include container();

	h2 {
		margin: 0;
	}

	p {
		padding-left: 0.5em;
		padding-right: 0.5em;
		max-width: 50em;
		margin: 0 auto 1.5em;
	}
}

.page {

	.entry-header {
		padding: 6em 0;
		min-height: 70vh;
		text-align: center;
		position: relative;
		background-size: cover;
		// background-position: top center;
		background-repeat: no-repeat;
		// background-image: url('home-bg.jpg');

		&:after {
			content: '';
			background: rgba( $orange, .5 );
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		h1 {
			position: relative;
			z-index: 10;
			color: $white;
			text-transform: uppercase;
			border-bottom: 1px solid $white;
			font-family: 'Lato', arial, sans-serif;
			font-size: 4em;
			display: inline-block;
			letter-spacing: 10px;
			font-weight: 300;
			@media screen and (min-width: 50em){
				font-weight: 300;	
			}
			
		}
	}

	.entry-content {
		//padding: 0 1em;
		
		@media screen and (min-width: 75em){
		 	padding: 0;
		}
	}

	.entry-footer {
		background: $orange;
		text-align: center;
		color: $white;
		font-size: 1.5em;
		font-family: 'museo-slab';
		border-bottom: .5em solid darken( $orange, 5% );
		margin-top: 1.5em;

		p {
			margin: 3em 0;
			letter-spacing: 1px;
		}

		a {
			text-decoration: none;
			color: $white;
			border-bottom: 1px solid $white;
		}
	}
}